{% extends "layouts/base.html" %}

{% block title %}{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <style>
    table.dataTable thead th {
        border-bottom: none;
    }

    table.dataTable tfoot th {
        border-top: none;
        border-bottom: 1px solid  #111;
    }
    </style>

    <div class="py-4">
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="row">
                    <div class="col-12 mb-4">
                        <div class="card border-0 shadow">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                            <h2 class="fs-5 fw-bold mb-0">Registros de suministros</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table-borderless p-3">
                                <table id="example" class="table align-items-center table-flush table-borderless">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="border-bottom" scope="col">Matrícula</th>
                                            <th class="border-bottom" scope="col">Combustible</th>
                                            <th class="border-bottom" scope="col">KMs</th>
                                            <th class="border-bottom" scope="col">Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for log in logs %}
                                        <tr>
                                            <th class="text-gray-900" scope="row">
                                                {{ log.matricula }}
                                            </th>
                                            <td class="fw-bolder text-gray-500">
                                                {{ log.comb }}
                                            </td>
                                            <td class="fw-bolder text-gray-500">
                                                {{ log.kms }}
                                            </td>
                                            <td class="fw-bolder text-gray-500">
                                                {{ log.date|date:"d/m/Y H:i" }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "ordering": true,
                "order": [[
                    3, "desc"
                ]]
            });
        } );
    </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
